/* Por ordem de hierarquia, sendo o ultimo o que vai sobrescrever todos*/
@import url(./bootstrap.min.css);
@import url(./global.css);


/* Header Nav */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
  }
  .site-header a {
    color:#9BC7E9;
    transition: color .15s ease-in-out;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav {    
    width:60%;
  }

  nav a{
      width: 70%;
  }

  nav img{
    position: relative;
    right: -60px;
  }


      /* Form */
  
  .form-signin {
    
    align-items: center;
    width: 100%;
    max-width: 370px;
    padding-top: 145px;
    margin: auto;
    
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  form{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding-top: 115px;
    margin: auto;
    align-items: center;
  }

  
  form div:nth-child(3) {
    width: 370px;
  }
  
  form div:nth-child(4) {
    width: 370px;
  }

 h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  button{
    margin-top: 40px;
  }

  /* Footer */

  footer {
    background-color: #B2B2B2;
    color:#070707;
    font-size: 18px;
    font-family:'Noto Sans', Arial, Helvetica, sans-serif;
    padding: auto;
    width: 100%;
    height: 14%;
    bottom: 0;
    position: fixed;
    display: flex;   
     
  }

  .dir{
    width: 50%;
    margin-right: 40px;
    margin-top: .70%;
    padding-left: 5%;
    -webkit-margin-before: .2em;
   -webkit-margin-after: .2em;  
  }

  .esq{
    width: 50%;
    margin-top: .70%;
    padding-left: 30%;
    -webkit-margin-before: .2em;
   -webkit-margin-after: .2em;  
  }

  .titulo {
    font-size: 21px;
    font-weight: bold;
  }



  
  
  