@import url(./global.css);

/* Header Nav */
header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    
  }
  header a {
    color:#9BC7E9;
    transition: color .15s ease-in-out;
    text-decoration: none;
    font-size: 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  header a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav{
      width: 100%;
      justify-content: space-around;
      display: flex;
  }


  nav ul {
      width: 40%;
      justify-content: space-around;
      display: flex;   
      padding-right: 20%;   
      
  }

  .menu{
    margin-top: 10px;
      
  }
  nav ul li{
    margin-top: 10px;
    
  }

  nav div{
      margin-left: 150px;
      
  }

  
form{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding-top: 115px;
    margin: auto;
    align-items: center;
}

h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-self:center;
  }

  form button{
    margin-top: 40px;
    margin-bottom: 30px;
  }  

  .botao{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 140px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  #prod{
    margin-right: 100px;
  }

  #cat{
      margin-right: 40px;
  }


 

  