<h1 class="mt-4">Cadastro de Produto</h1>
   
<div class="container">
        <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf= "success == true">
                        Produto salvo com sucesso.
                      </div>
                      <div class="alert alert-danger" role="alert" *ngFor="let erro of errors"> 
                        {{erro}}
                      </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" id="nome" type="text" placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
                    <label for="exampleFormControlTextarea1">Descrição</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="produto.descricao" name="descricao"></textarea>
                    <label for="categoria" id="nome">categoria</label>
                    <select class="form-control" id="categoria" [(ngModel)]="produto.nomeCategoria" name="nomeCategoria">
                        <option>Bebidas</option>
                        <option>Mercearia</option>
                        <option>Higiene</option>
                      </select>
                      <label for="nome">Imagem</label>
                    <input class="form-control" id="imagem" type="text" placeholder="Imagem" [(ngModel)]="produto.imagem" name="imagem">
                    <label for="preco" step = "0.01">Preço</label>
                    <input class="form-control" id="preco" type="number" placeholder="0.00" min="0" [(ngModel)]="produto.precoUnitario" name="precoUnitario">
                    <label for="qtd">Quantidade</label>
                    <input class="form-control" id="qtd" type="number" min="0" placeholder="0" [(ngModel)]="produto.quantidade" name="quantidade">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary"> 
                <i class="fa fa-save"></i> Cadastrar</button>
            </div>
        </div>
    </form>
</div>