fieldset{
    
    justify-content: center;
    align-items: center;
    width: 600px;

}

form{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

.botao{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
}