footer {
background-color: #B2B2B2;
color:#070707;
font-size: 18px;
font-family:'Noto Sans', Arial, Helvetica, sans-serif;
padding: auto;
width: 100%;
height: 14%;
bottom: 0;
position: fixed;
display: flex;   
 
}

.dir{
width: 50%;
margin-right: 40px;
margin-top: .70%;
padding-left: 5%;
-webkit-margin-before: .2em;
-webkit-margin-after: .2em;  
}

.esq{
width: 50%;
margin-top: .70%;
padding-left: 30%;
-webkit-margin-before: .2em;
-webkit-margin-after: .2em;  
}

.titulo {
font-size: 21px;
font-weight: bold;
}
