/* Header Nav */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
  }
  .site-header a {
    color:#9BC7E9;
    transition: color .15s ease-in-out;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav {    
    width:60%;
  }

  nav a{
      width: 70%;
  }

  nav img{
    position: relative;
    right: -60px;
  }