<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                 {{ 'Entrar' }}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-success" *ngIf="mensagemSucesso">
                                    {{ mensagemSucesso }}
                                </div>

                                <div class="alert alert-danger" *ngFor="let erro of errors">
                                {{ erro }}
                                </div>

                                <form #loginForm="ngForm" (submit)="onSubmit();">
                                    <div class="form-group">
                                        <label class="small mb-1">Login</label>
                                        <input type="text" name="username"
                                            [(ngModel)]="username" autocomplete="off"
                                            class="form-control py-4"
                                            placeholder="Digite seu login" />
                                    </div>

                                    <div class="form-group">
                                        <label class="small mb-1">Senha</label>
                                        <input type="password" name="password"
                                            [(ngModel)]="password"
                                            class="form-control py-4"
                                            placeholder="Digite sua Senha" />
                                    </div>

                                    <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-primary" *ngIf="!cadastrando">
                                            Enviar
                                        </button>

                                    </div>
                                </form>
                            </div>

                            <div class="card-footer text-center">
                                <div class="small">
                                    <a href="#" >
                                        Esqueci minha senha
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    </div>
    
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                    <div><p className="titulo">Grupo G1 - Status 200</p>
                        <p>Aline Sena &emsp;-&emsp; Amanda Pereira</p>
                        <p>Amanda Santos &emsp;-&emsp; Viviane Kumagai</p>
                    </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <p className="titulo">Projeto Final Winning Women</p>
                <p>https://github.com/ww21g1/supermercadoYara</p>
                <p>https://github.com/ww21g1/supermercadoYaraFrontend</p>
                  </div>
                </div>
                <!--Grid column-->
      
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Projeto Winning Women - 
          <a class="text-white" href="https://mdbootstrap.com/">Novembro 2021</a>
        </div>
        <!-- Copyright -->
      </footer>
    
</div>


